<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}title{% endblock %}</title>
    <link rel="stylesheet" href="{% static "js/layui/src/css/layui.css" %}">
    <script src="{% static "js/layui/src/layui.js" %}"></script>
    <style>
        {#"background-image:url('../static/images/code.jpg'); background-size: 100%"#}
    </style>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>Similarity_Detection</legend>
    </fieldset>
    <ul class="layui-nav" lay-filter="" style="z-index: 9999;position: relative;">
        <li class="layui-nav-item"><a href="/main/" target="_self">首页</a></li>
        <li class="layui-nav-item"><a href="/DetectResultHistory/DetectConfig/" target="_self">检测配置</a></li>
        <li class="layui-nav-item"><a href="/DetectResultHistory/DetectResult/" target="_self">检测结果</a></li>
        <li class="layui-nav-item"><a href="/DetectResultHistory/History/" target="_self">历史查询</a></li>
        <li class="layui-nav-item">
        <a href="javascript:;">关于我们</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="https://docs.qq.com/doc/DWHJJWXVmZEpDeW9R" target="_blank">系统介绍</a></dd>
                <dd><a href="https://docs.qq.com/doc/DWHJJWXVmZEpDeW9R" target="_blank">团队介绍</a></dd>
                <dd><a href="https://docs.qq.com/sheet/DWE1EYnVkWnpMV25Z" target="_blank">工作安排</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="https://www.layui.com/" target="_blank">张量分解</a></li>
        <li class="layui-nav-item">
        <a href="javascript:;">样本库分析</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="https://docs.qq.com/doc/DWHJJWXVmZEpDeW9R" target="_blank">第三方函数检测</a></dd>
                <dd><a href="https://docs.qq.com/doc/DWHJJWXVmZEpDeW9R" target="_blank">增量特征更新</a></dd>
                <dd><a href="https://docs.qq.com/sheet/DWE1EYnVkWnpMV25Z" target="_blank">...</a></dd>
            </dl>
        </li>

    </ul>
    <script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        element.render();

    //…
    });
    </script>
    {% block body %}{% endblock %}
	{% block script %}{% endblock %}
</body>
</html>