<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="{% static "js/layui/src/css/layui.css" %}">
    <script src="{% static "js/layui/src/layui.js" %}"></script>
</head>
<body>
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item layui-this"><a href="">检测配置</a></li>
        <li class="layui-nav-item"><a href="">检测结果</a></li>
        <li class="layui-nav-item"><a href="">历史查询</a></li>
        <li class="layui-nav-item">
        <a href="javascript:;">关于我们</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">t1</a></dd>
                <dd><a href="">t2</a></dd>
                <dd><a href="">t3</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>

    <table id="demo" lay-filter="test"></table>

    <script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
    var element = layui.element;

    //…
    });
    </script>

    <script>
        layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,skin: 'row' //行边框风格
            ,even: true //开启隔行背景
            ,size: 'lg' //大尺寸的表格
            ,height: 312
            ,url: '/realtime/' //数据接口
            ,id: 'idTest'
            ,page: true //开启分页
            ,cols: [[ //表头
            {field: 'type', title: '检测类型', width:120, fixed: 'left'}
            ,{field: 'filename', title: '检测文件', width:120, fixed: 'left'}
            ,{field: 'algorithm', title: '检测算法', width:120, fixed: 'left'}
            ,{field: 'result', title: '检测结果', width:120, fixed: 'left'}
            ,{field: 'time', title: '检测时间', width: 120, fixed: 'left', sort: true}
            ]]
            });
        });
    </script>


</body>
</html>