{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block body %}
    <table id="demo" lay-filter="test"></table>
{% endblock %}
{% block script %}
    <script>
        layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,skin: 'row' //行边框风格
            ,even: true //开启隔行背景
            ,size: 'lg' //大尺寸的表格
            ,toolbar: 'true'
            ,title: '实时检测结果展示'
            ,height: 400
            ,url: '/realtime/' //数据接口
            ,id: 'idTest'
            ,page: true //开启分页
            ,cols: [[ //表头
            {field: 'type', title: '检测类型', width:120, fixed: 'left'}
            ,{field: 'filename', title: '检测文件', width:120, fixed: 'left'}
            ,{field: 'algorithm', title: '检测算法', width:120, fixed: 'left'}
            ,{field: 'result', title: '检测结果', width:120, fixed: 'left'}
            ,{field: 'time', title: '检测时间', width: 120, fixed: 'left', sort: true}
            ]]
            });
        });
    </script>
{% endblock %}
